/**/
a{
    text-decoration: none !important;
}
.tab1 > ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
.tab1 > ul > li {
    display: inline-table;
	width: 32%;
	margin: 1% 0;
}
.tab1 > ul > li > a {
    overflow: hidden;  width: 100%;  height: 100%;  display: block;  opacity: .7;  -webkit-transition: all .3s ease-in-out;
}
.btn_more_big,.header_top_options{
    margin-top: -0.5% !important;
	text-align: center;
	padding: 23px 25px !important;
}
div[data-role='header']{
    padding: 10px 0 !important;
    position: relative;
    overflow: hidden;
    min-height: 4.5em;
}
.btn_more_big .ui-btn-inner,.header_top_options .ui-btn-inner{
    border: none !important;
}
input.ui-input-text{
	box-shadow: none !important;
}
.header_top_options .ui-btn-inner, .btn_more_big .ui-btn-inner{
    border: none !important;
}