/**/
 @font-face{
font-family: kabell;
src: url(../font/kabell.woff);
}
@font-face{
font-family: kabell-heavy;
src: url(../font/kabell-heavy.woff);
}
@font-face{
font-family: metapro;
src: url(../font/metapro.woff);
}
div[data-role='header'] h1{
    font-family: kabell, Helvetica, Arial, sans-serif !important;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(241, 241, 241);
    text-shadow: 1px 1px 0px black;
    margin: .6em 25% 0.8em !important;
    font-size: 1.8em !important;
    margin-bottom: 0 !important;
}
b{
    font-family: metapro, Helvetica, Arial, sans-serif !important;
    font-size: 1.2em;        
}
a{
    text-decoration: none !important;
    font-family: metapro, Helvetica, Arial, sans-serif !important;
    font-size: 1.1em !important;
}
.ui-btn-text{
    text-decoration: none !important;
    font-family: metapro, Helvetica, Arial, sans-serif !important;
}
.tab1 > ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
.tab1 > ul > li {
    display: inline-table;
	width: 32%;
	margin: 1% 0;
}
.tab1 > ul > li > a {
    overflow: hidden;  width: 100%;  height: 100%;  display: block;  opacity: .7;  -webkit-transition: all .3s ease-in-out;
}
.btn_more_big,.header_top_options{
    padding: 1em 1em !important;
    border: none !important;
    top: 5px !important;
}
div[data-role='header']{
    padding: 10px 0 !important;
    position: relative;
    overflow: hidden;
    min-height: 4.5em;
}
.btn_more_big .ui-btn-inner,.header_top_options .ui-btn-inner{
    border: none !important;
}
input.ui-input-text{
	box-shadow: none !important;
}
.header_top_options .ui-btn-inner, .btn_more_big .ui-btn-inner{
    border: none !important;
}
